DEVICE={{ ovn_encap_dev }}
TYPE=Ethernet
BOOTPROTO=static
NM_CONTROLLED=no
IPADDR={{ ovn_encap_ip }}
PREFIX={{ ovn_encap_ip_prefix }}
GATEWAY={{ cluster_default_route }}
DNS1={{ cluster_dns1 }}
DNS2={{ cluster_dns2 }}
ONBOOT=yes

