{
    "resourceList": [{
            "resourceName": "sriov_ovn",
            "selectors": {
                "vendors": ["15b3"],
                "devices": ["1018"],
                "pfNames": ["{{ game_server_sriov_stream_pf }}"]
            }
        }
    ]
}
